@import url('https://fonts.googleapis.com/css?family=Fjalla+One|PT+Sans|Roboto&display=swap');

html {
    background-color: #b3e5fc;
}

div {
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.315) 0 2px 2px;
}

div.noShade {
    border-radius: 0px;
    box-shadow: rgba(0, 0, 0, 0) 0 0px 0px;
}

input, select, button {
    border-radius: 5px;
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 18px;
    background-color: #0277bd;
    border-style: none;
    padding: 4px;
    color: white;
    margin: 8px auto;
}

input::placeholder {
    color: rgba(255, 255, 255, 0.85);
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 18px;
}

div#head {
    display: flex;
    justify-content: center;
}

div#head h1 {
    color: white;
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 18px;
}

#searchSection, #head {
    background-color: #004c8c;
    padding: 16px;
    border-radius: 5px;
    margin-top: 8px;
}

#profile, #stats {
    display: flex;
    flex-flow: row wrap;
    visibility: hidden;
    
    align-items: center;
    margin-top: 8px;
    background-color: #0277bd;
    padding: 16px;
    font-family: 'Roboto';
}

div.category div {
    display: flex;
    flex-flow: row wrap;
}

div.category div div.stat {
    display: flex;
    flex-flow: column nowrap;
}

div.category {
    background-color: #004c8c;
    margin: 16px auto;
    padding: 8px;
}

#profile p {
    font-size: 36px;
    color: white;
    font-weight: bolder;
    padding-left: 16px;
    margin: 16px auto
}

#profile p.sub {
    font-size: 16px;
}

div#profile img#icon {
    border-radius: 15px;
}

#stats div.stat {
    background-color: rgba(255, 255, 255, 0.9);
    margin: 8px;
    padding: 8px;
    color: rgba(0, 0, 0, 0.815);
}

#stats div.stat * {
    margin: 8px;
}

h1 {
    color: white;
    margin-left: 8px;
}

a:visited {
    color: white;
}